.container {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-top: -20px;
}
.sidebar {
  flex-shrink: 0;
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(19, 19, 19);
}
.sidebar a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding: 10px 10px;
  border-radius: 20px;
}
.sidebar a:hover,
.selected {
  background-color: rgb(37, 37, 37);
}
.searchContainer {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.comment {
  border: 1px solid var(--light-white-border-color);
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(34, 34, 34);
}
@media (max-width: 740px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%; /* stretch full width */
    flex-shrink: 1; /* allow shrinking */
  }
}
