.user {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgb(34, 34, 34);
  border-radius: 20px;
}
.userAvatar img {
  width: 80px;
  border-radius: 50%;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.item {
  display: flex;
  gap: 20px;
}
.item div:first-child {
  font-weight: bold;
  width: 100px;
}
.item div:nth-child(2) {
  flex: 1;
}
.bio > p {
  padding: 10px 0px;
}
.delete {
  background-color: rgb(148, 42, 42);
  border: none;
  color: white;
  padding: 5px 12px;
  font-size: 18px;
  align-self: flex-start;
}
.delete:hover {
  background-color: rgb(110, 31, 31);
}
