/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* CSS START */
html,
body,
#root {
  height: 100%;
  margin: 0;
}
:root {
  --very-dark-color: rgb(10, 10, 10);
  --dark-color: rgb(17, 17, 17);
  --dark-light-color: rgb(27, 27, 27);
  --dark-very-light-color: rgb(46, 46, 46);
  --white-color: white;
  --white-hover-color: rgb(165, 165, 165);
  --dark-gray-color: rgb(56, 56, 56);
  --light-gray-color: rgba(212, 212, 212, 0.76);
  --ocean-light-blue-color: rgba(39, 61, 122, 0.719);
  --light-white-border-color: rgba(255, 255, 255, 0.116);
  --light-blue-color: #337ab7;
  --dark-blue-color: #255b8a;
  --golden-color: rgb(230, 208, 84);
}
.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
body {
  background-color: var(--dark-light-color);
  color: white;
}
header {
  background-color: var(--very-dark-color);
  color: var(--white-color);
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
a.logo {
  font-size: 48px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
a.logo:hover,
a.logo:focus {
  color: white;
}
.log-in {
  font-size: 32px;
  text-decoration: none;
  color: var(--white-color);
}
.log-in:hover,
.log-in:focus {
  color: var(--white-hover-color);
}
.log-out {
  border: none;
  background-color: transparent;
  color: var(--white-color);
  text-align: left;
  padding: 0;
}
.log-out:hover,
.log-out:focus {
  color: var(--white-hover-color);
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.options img {
  width: 70px;
  border-radius: 50%;
}
.options > div {
  font-size: 32px;
}
.drop-down-menu-container {
  position: relative;
  z-index: 2;
}
.drop-down-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-80%, 1%);
  background-color: rgb(36, 60, 87);
  padding: 20px 0;
  width: 250px;
  font-size: 24px;
  z-index: 1;
}
.drop-down-menu .arrow {
  position: absolute;
  top: -10px;
  right: 20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(199, 199, 199);
}
.drop-down-menu > .menu-option {
  font-size: 24px;
  color: white;
  text-decoration: none;
  padding: 0 20px;
  white-space: nowrap;
}
.drop-down-menu hr {
  margin: 5px 0;
}
.drop-down-menu .menu-option:hover,
.drop-down-menu .menu-option:focus {
  /* color: var(--white-hover-color); */
  background-color: rgb(22, 37, 54);
}
a {
  color: var(--light-blue-color);
  font-size: 18px;
}
a:hover,
a:focus {
  color: var(--dark-blue-color);
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.container > h1 {
  font-size: 38px;
  align-self: center;
  margin-top: 10px;
}
.cover-background {
  flex: 1;
  height: max(100vh, 100%);
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

@media (max-width: 900px) {
  .options img,
  .options .display-name {
    display: none;
  }
}
/* Login/Register css START*/
.auth-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: var(--dark-color);
  padding: 50px 100px;
  border-radius: 20px;
}
a.title {
  font-size: 48px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
a.title:hover,
a.title:focus {
  color: white;
}
.auth-container h2 {
  font-weight: normal;
  font-size: 24px;
  color: var(--dark-blue-color);
}
.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-item label {
  font-size: 24px;
  color: var(--light-gray-color);
}
/* Login/Register css DONE*/

/* Novel css START*/
.novel > div {
  margin-bottom: 30px;
}
.novel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  background-color: var(--ocean-light-blue-color);
}
.card {
  display: flex;
  flex-direction: column;
  margin: 0 2%;
  background-color: var(--dark-color);
  padding: 20px 40px;
  border: 1px var(--light-white-border-color) solid;
}
.novel .novel-header {
  border-top: none;
  margin-bottom: 0px;
}
.novel-header > img {
  height: 300px;
  margin: 15px;
  border: 5px white solid;
}
.novel-header > div {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1;
}
.novel-title {
  font-size: 48px;
  text-align: center;
}
.novel-author {
  font-size: 24px;
}
.novel-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}
.novel-tag {
  padding: 2px 5px;
  font-size: 18px;
  background-color: var(--ocean-light-blue-color);
  white-space: nowrap;
}
.novel-summary {
  font-size: 22px;
}
.novel-summary > * {
  margin: 20px 0px;
}
.novel-statistics {
  display: flex;
  flex-direction: column;
}
.novel-statistics > h3 {
  font-size: 32px;
}
.novel-statistics-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
.novel-statistics-star-rating,
.novel-statistics-metric {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 200px;
}
.metric {
  min-width: 400px;
}
.metric-title,
.metric-value {
  font-size: 24px;
  font-weight: bold;
}
.metric-value {
  color: var(--golden-color);
}
.novel-action-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.novel-action-buttons button {
  border: none;
  padding: 10px;
  color: white;
  font-size: 24px;
  border-bottom: 1px var(--light-white-border-color) solid;
  background-color: var(--dark-light-color);
  transition: background-color 0.3s ease-out;
}
.novel-action-buttons button:hover {
  background-color: var(--dark-color);
}

.novel-table-of-contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.novel-table-of-contents-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-white-border-color);
  padding: 10px;
}
.novel-table-of-contents-header > h3 {
  color: var(--golden-color);
  font-size: 24px;
}
.novel-table-of-contents-header > div {
  background-color: var(--dark-gray-color);
  padding: 5px;
  font-size: 18px;
}

.novel-table-of-contents-sorting-options {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  border-bottom: solid rgba(255, 255, 255, 0.774) 3px;
}
.novel-table-of-contents-sorting-options button {
  color: white;
  background-color: var(--dark-color);
  border: none;
  text-align: start;
  font-size: 24px;
  font-weight: bold;
}
button.chapter-name-sort {
  flex: 2;
}
button.release-date-sort {
  flex: 1;
  text-align: end;
}
button.chapter-name-sort:hover,
button.release-date-sort:hover {
  background-color: var(--dark-very-light-color);
}
.chapters {
  display: flex;
  flex-direction: column;
}
.chapter {
  display: flex;
  flex-direction: row;
  color: var(--light-blue-color);
  font-size: 18px;
  border-bottom: 1px var(--light-white-border-color) solid;
}
.chapter:hover .chapter-name,
.chapter:hover .chapter-release-date {
  background-color: var(--dark-very-light-color);
}
.chapter-name,
.chapter-release-date {
  padding: 5px;
}
.chapter-name {
  flex: 2;
}
.chapter-release-date {
  flex: 1;
  text-align: end;
  background-color: var(--dark-light-color);
}
/* Novel css DONE */

/* Create Novel START */

.novel-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.novel-form > div {
  display: flex;
  flex-direction: column;
}
.novel-form > div > label {
  font-size: 24px;
}

/* Create Novel DONE */

/* Home START */

.novel-categories {
  flex: 1;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1400px) {
  .novel-categories {
    flex-direction: row;
  }
  .novel-categories > div {
    flex: 1;
  }
}
/* Home DONE */

/* Profile START */
.profile-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;

  align-self: center;
  width: 90vw;
  height: 100%;
  background-color: var(--dark-light-color);
}
.profile-header {
  border: 1px var(--light-white-border-color) solid;
  border-top: none;
  display: flex;
  flex-direction: column;
  margin: 0 2%;
  background-color: var(--dark-color);
}
.blurred-picture-cover {
  position: relative;
  height: 140px;
  overflow: hidden;
}
.blurred-picture-cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}
.upper-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.upper-bar img {
  width: 100px;
  border-radius: 50%;
  border: 2px solid white;
}
.upper-bar button.edit {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--light-blue-color);
  color: white;
  border: none;
}
.upper-bar button.edit:hover {
  background-color: var(--dark-blue-color);
}
.lower-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
}
.lower-bar h3 {
  font-size: 24px;
  align-self: center;
}
.lower-bar .value {
  color: var(--light-blue-color);
}
.profile-information {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--light-white-border-color);
}
.profile-information > * {
  border-bottom: 1px solid var(--light-white-border-color);
  padding: 5px;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item > div:first-child {
  font-weight: bold;
}
.item > div {
  flex: 1;
}

/* Profile DONE */

/* Author Dashboard START */

.author-dashboard-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.author-dashboard-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 20px;
  background-color: var(--dark-color);
}
.author-dashboard-header > h3 {
  font-size: 32px;
}
.author-dashboard-header .sub-title {
  font-size: 24px;
  color: var(--white-hover-color);
}
.author-dashboard-info {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
}
.author-dashboard-info .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: bold;
}
.author-dashboard-novels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.author-dashboard-novels .novels {
  align-self: stretch;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
}
.author-dashboard-novels .novel {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: 300px;
  border: 2px solid var(--light-white-border-color);
  border-radius: 10px;
  background-color: var(--dark-light-color);
}
.author-dashboard-novels .novel > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
.author-dashboard-novels .novel .title {
  font-size: 24px;
}
.author-dashboard-novels .novel .title:hover,
.author-dashboard-novels .novel .title:focus {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.author-dashboard-novels .novel .rating {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}
.author-dashboard-novels .novel .link-with-image {
  flex-shrink: 0;
  display: flex;
}
.author-dashboard-novels .novel img {
  flex-shrink: 0;
  height: 200px;
  border-radius: 10px;
}
/* Author Dashboard DONE */

/* Section Wrapper START */

.section-container {
  margin-top: 30px;
  margin-bottom: 30px;
}
.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  padding: 10px;
  border-bottom: 2px solid var(--light-white-border-color);
}
.section-header h3 {
  color: var(--golden-color);
  font-size: 32px;
}

/* Section Wrapper DONE */

/* Chapter START */

.chapter-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: var(--ocean-light-blue-color);
  font-size: 48px;
  padding: 10px;
  margin-bottom: 30px;
}
.title-author span {
  font-size: 32px;
}
.title-author .author {
  font-size: 42px;
}
.chapter-header .stars {
  font-size: 42px;
  white-space: nowrap;
}
.chapter-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 2px solid var(--light-white-border-color);
}
.chapter-content p {
  padding: 20px 0;
  font-size: 22px;
}
/* Chapter DONE */

/* Search START */
.search {
  margin-top: 20px;
}
.search,
.advanced-search {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.basic-search {
  display: flex;
  flex-direction: row;
}
.search-item {
  display: flex;
  flex-direction: column;
}
.search-item .order-by {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.search-item label {
  font-size: 22px;
}
.search-results {
  margin-top: 20px;
}
/* Search DONE */

/* CSS DONE */
