/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* CSS START */
:root{
  --very-dark-color: rgb(10, 10, 10);
  --dark-color: rgb(17, 17, 17);
  --dark-light-color: rgb(27, 27, 27);
  --dark-very-light-color: rgb(46, 46, 46);
  --light-color: white;
  --dark-gray-color: rgb(56, 56, 56);
  --light-gray-color: rgba(212, 212, 212, 0.76);
  --ocean-light-blue-color: rgba(39, 61, 122, 0.719);
  --light-white-border-color: rgba(255, 255, 255, 0.116);
  --light-blue-color: #337ab7;
  --dark-blue-color: #255b8a;
  --golden-color: rgb(230, 208, 84);
}

body{
  background-color: var(--dark-light-color);
  color: white;
}
header{
  background-color: var(--very-dark-color);
  color: var(--light-color);
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
a.logo{
  font-size: 48px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
a.logo:hover, a.logo:focus{
  color: white;
}
.options{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.options img {
  width: 100px;
  border-radius: 50%;
}
.options > div{
  font-size: 32px;
}
.drop-down-menu-container{
  position: relative;
  z-index: 2;
}
.drop-down-menu{
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-80%, 16%);
  background-color: rgb(27, 27, 85);
  padding: 20px;
  width: 250px;
  font-size: 24px;
  z-index: 1;
}
.drop-down-menu a{
  font-size: 24px;
  color: white;
  text-decoration: none;
}
.drop-down-menu a:hover, .drop-down-menu a:focus{
  color: rgb(165, 165, 165);
}
a{
  color: var(--light-blue-color);
  font-size: 18px;
}
a:hover,a:focus{
  color: var(--dark-blue-color);
}
.container{
  display: flex;
  flex-direction: column;
}
.container > h1{
  font-size: 38px;
  align-self: center;
  margin-top: 10px;
}
.cover-background{
  height: 100vh;
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}
/* Login/Register css START*/
.auth-cover{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth-container{
  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: var(--dark-color);
  padding: 50px 100px;
  border-radius: 20px;
}
a.title{
  font-size: 48px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
a.title:hover, a.title:focus{
  color: white;
}
.auth-container h2{
  font-weight: normal;
  font-size: 24px;
  color: var(--dark-blue-color);
}
.auth-container form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-item{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-item label{
  font-size: 24px;
  color: var(--light-gray-color)
}
/* Login/Register css DONE*/

/* Novel css START*/
.novel > div{
  margin-bottom: 30px;
}
.novel-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--ocean-light-blue-color);
  /* justify-content: space-around; */
}
.card{
  display: flex;
  flex-direction: column;
  margin: 0 2%;
  background-color: var(--dark-color);
  padding: 20px 40px;
  border: 1px var(--light-white-border-color) solid;
}
.novel .novel-header{
  border-top: none;
  margin-bottom: 0px;
}
.novel-header > img{
  height: 300px;
  margin: 15px;
  border: 5px white solid;
}
.novel-header > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  flex: 1;
}
.novel-title{
  font-size: 48px;
}
.novel-author{
  font-size: 24px;
}
.novel-tags{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}
.novel-tag{
  padding:2px 5px;
  font-size:18px;
  background-color: var(--ocean-light-blue-color);
  white-space: nowrap;
}
.novel-summary{
  font-size: 20px;
}
.novel-summary > *{
  margin: 20px 0px;
}
.novel-statistics{
  display: flex;
  flex-direction: column;
}
.novel-statistics > h3{
  font-size: 32px;
}
.novel-statistics-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:40px;
}
.novel-statistics-star-rating, .novel-statistics-metric{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 200px;
}
.metric{
  min-width: 400px;
}
.metric-title, .metric-value{
  font-size: 24px;
  font-weight: bold;
}
.metric-value{
  color: var(--golden-color);
}
.novel-action-buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.novel-action-buttons button{
  border: none;
  padding: 10px;
  color: white;
  font-size: 24px;
  border-bottom: 1px var(--light-white-border-color) solid;
  background-color: var(--dark-light-color);
  transition: background-color 0.3s ease-out;
}
.novel-action-buttons button:hover{
  background-color: var(--dark-color);
}

.novel-table-of-contents{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.novel-table-of-contents-header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-white-border-color);
  padding: 10px;
}
.novel-table-of-contents-header > h3{
  color: var(--golden-color);
  font-size: 24px;
}
.novel-table-of-contents-header > div{
  background-color: var(--dark-gray-color);
  padding: 5px;
  font-size: 18px;
}

.novel-table-of-contents-sorting-options{
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  border-bottom: solid rgba(255, 255, 255, 0.774) 3px;
}
.novel-table-of-contents-sorting-options button{
  color: white;
  background-color: var(--dark-color);
  border: none;
  text-align: start;
  font-size: 24px;
  font-weight: bold;
}
button.chapter-name-sort{
  flex: 2;
}
button.release-date-sort{
  flex: 1;
  text-align: end;
}
button.chapter-name-sort:hover, button.release-date-sort:hover{
  background-color: var(--dark-very-light-color);
}
.chapters{
  display: flex;
  flex-direction: column;
}
.chapter{
  display: flex;
  flex-direction: row;
  color: var(--light-blue-color);
  font-size: 18px;
  border-bottom: 1px var(--light-white-border-color) solid;
}
.chapter:hover .chapter-name, .chapter:hover .chapter-release-date{
  background-color: var(--dark-very-light-color);
}
.chapter-name, .chapter-release-date{
  padding: 5px;
}
.chapter-name{
  flex: 2;
}
.chapter-release-date{
  flex: 1;
  text-align: end;
  background-color: var(--dark-light-color);
}
/* Novel css DONE */

/* Create Novel START */

.novel-form{
  margin-top: 20px;
}
.novel-form > div{
  display: flex;
  flex-direction: column;
}
.novel-form > div > label{
  font-size: 24px;
}
.novel-synopsis-edit{
  border: solid 1px var(--light-white-border-color);
}
.novel-synopsis-edit div{
  font-size: 18px;
}
.novel-form input{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid var(--light-white-border-color);
  font-size: 18px;
}
.novel-form button{
  align-self: center;
  padding: 10px 30px ;
  background-color: var(--dark-light-color);
  color:var(--golden-color);
  font-size: 24px;
  border-radius: 20px;
  border: 1px solid var(--light-white-border-color);
}
.novel-form button:hover{
  background-color: var(--dark-very-light-color);
}
/* Create Novel DONE */

/* Home START */

.novel-card{
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 25px;
  border-bottom: 2px solid var(--light-white-border-color);
  margin-top: 10px;
  padding-bottom: 10px;
}
.link-with-image{
  flex-shrink: 0; 
}
.novel-card img{
  height: 250px;
}
a.novel-card-title{
  font-size: 42px;
  color: var(--golden-color);
  text-decoration: none;
  font-weight: bold;
}
a.novel-card-title:focus, a.novel-card-title:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px; 
}
.novel-card-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.novel-card h1{
  font-size: 48px;
  color: var(--golden-color);
}
.novel-card-statistics{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.novel-card-statistic{
  font-size: 18px;
  font-weight: bold;
}
button.show-more{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  font-size: 48px;
  font-weight: bold;
  color: var(--golden-color);
  border: none;
  background-color: rgba(0, 0, 0, 0);

}
@media(max-width: 900px){
  .novel-card{
    flex-direction: column;
    gap: 0px;
  }
  .novel-card-info{
    align-items: center;
  }
  .novel-card .link-with-image{
    align-self: center;
  }
}
/* Home DONE */

/* Profile START */
.profile-container{
  display: flex;
  flex-direction: column;
  gap: 20px;

  align-self: center;
  width: 90vw;
  height: 100%;
  background-color: var(--dark-light-color)
}
.profile-header{
  border: 1px var(--light-white-border-color) solid;
  border-top: none;
  display: flex;
  flex-direction: column;
  margin: 0 2%;
  background-color: var(--dark-color);
}
.blurred-picture-cover{
  position: relative;
  height: 140px;
  overflow: hidden;
}
.blurred-picture-cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}
.upper-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.upper-bar img{
  width: 100px;
  border-radius: 50%;
  border: 2px solid white;
}
.upper-bar button.edit{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--light-blue-color);
  color: white;
  border: none;
}
.upper-bar button.edit:hover{
  background-color: var(--dark-blue-color);
}
.lower-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px ;
}
.lower-bar h3{
  font-size: 24px;
  align-self: center;
}
.lower-bar .value{
  color: var(--light-blue-color);
}
.profile-information{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--light-white-border-color);
}
.profile-information > *{
  border-bottom: 1px solid var(--light-white-border-color);
  padding: 5px;
}
.item{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item > div:first-child{
  font-weight: bold;
}
.item > div{
  flex: 1;
}

/* Profile DONE */

/* CSS DONE */